.popup__input {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 8px 16px;
    padding-bottom: 0;
    display: inline-block;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px #d6dade solid;
    border-radius: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding-right: 50px;
    align-items: baseline;
}

.popup__input::placeholder {
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    /* top: 5px; */
    position: absolute;
}

@media screen and (max-width: 767px) {
    .popup__input::placeholder {
        max-width: 70%;
    }
}
