#choose-direction-input {
    padding: 0;
    border: none;
    position: absolute;
    right: -15px;
    top: 0;
}
#choose-direction-input + label {
    position: absolute;
    left: 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #6a6e72;
    text-align: justify;
}
