.popup__container {
    max-width: 754px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 53px 98px;
    background-color: #ffffff;
    border-radius: 12px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 300px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        padding: 53px 5vw;
        /* position: fixed; */
        overflow-x: hidden;
    }
}
