.popup__input-container_type_yt > input {
    padding-bottom: 8px;
}

.popup__input-container_type_yt > label {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(100% - 34px);
    background-image: url(../../../../images/social-icons/youtube-icon.svg);
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}
