.popup__input-container_type_ok > input {
    padding-bottom: 8px;
}

.popup__input-container_type_ok > label {
    position: absolute;
    top: 22px;
    left: calc(100% - 34px);
    background-image: url(../../../../images/social-icons/ok-icon.svg);
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}
