.popup__wrapper_in {
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 32px;
}

.popup__wrapper_in > label {
    position: absolute;
    left: 15px;
    margin-top: 5px;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #6a6e72;
    text-align: justify;
}

.popup__wrapper_in label::before {
    content: '*';
    color: #d90000;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-right: 3px;
}
