.popup__radio-button {
    text-align: left;
    background-color: transparent;
}

.popup__radio-button + label::after {
    position: absolute;
    content: url(../../../images/arrow-down.svg);
    top: 13px;
    right: -445px;
}
